---
import SectionContainer from '../SectionContainer.astro';
import ExperienceItem from '../items/ExperienceItem.astro';
import { BriefcaseBusiness } from 'lucide-astro';
import { getExperience } from '../../data/notion';

const experienceData = await getExperience();
---

<SectionContainer id="experience" className="animate-pulse-fade-in animate-delay-200 animate-duration-500">
    <h2 class="text-2xl font-semibold flex gap-3 items-center text-neutral-200">
        <BriefcaseBusiness />
        Experience
    </h2>

    <ol class="relative space-y-1 border-s-2 border-neutral-800">
        {experienceData.map(experience => (
            <ExperienceItem {...experience} />
        ))}
    </ol>
</SectionContainer>