@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --animate-infinite-scroll: infinite-scroll 10s linear infinite;

  --font-serif: Playfair Display, serif;

  --radius: 0.5rem;

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);

  --tracking-tight: calc(var(--tracking-normal) - 0.025em);

  --tracking-wide: calc(var(--tracking-normal) + 0.025em);

  --tracking-wider: calc(var(--tracking-normal) + 0.05em);

  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --tracking-normal: var(--tracking-normal);

  --shadow-2xl: var(--shadow-2xl);

  --shadow-xl: var(--shadow-xl);

  --shadow-lg: var(--shadow-lg);

  --shadow-md: var(--shadow-md);

  --shadow: var(--shadow);

  --shadow-sm: var(--shadow-sm);

  --shadow-xs: var(--shadow-xs);

  --shadow-2xs: var(--shadow-2xs);

  --spacing: var(--spacing);

  --letter-spacing: var(--letter-spacing);

  --shadow-offset-y: var(--shadow-offset-y);

  --shadow-offset-x: var(--shadow-offset-x);

  --shadow-spread: var(--shadow-spread);

  --shadow-blur: var(--shadow-blur);

  --shadow-opacity: var(--shadow-opacity);

  --color-shadow-color: var(--shadow-color);

  --color-destructive-foreground: var(--destructive-foreground);
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

:root {
  --background: oklch(0.8607 0 0);
  --foreground: oklch(0.3867 0 0);
  --card: oklch(0.8914 0 0);
  --card-foreground: oklch(0.3012 0 0);
  --popover: oklch(0.8359 0 0);
  --popover-foreground: oklch(0.3867 0 0);
  --primary: oklch(0.5452 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7952 0 0);
  --secondary-foreground: oklch(0.3867 0 0);
  --muted: oklch(0.9067 0 0);
  --muted-foreground: oklch(0.4568 0 0);
  --accent: oklch(0.7668 0 0);
  --accent-foreground: oklch(0.3867 0 0);
  --destructive: oklch(0.4646 0.0866 20.9342);
  --border: oklch(0.7763 0 0);
  --input: oklch(0.7952 0 0);
  --ring: oklch(0.4819 0 0);
  --chart-1: oklch(0.4819 0 0);
  --chart-2: oklch(0.5313 0 0);
  --chart-3: oklch(0.5555 0 0);
  --chart-4: oklch(0.5795 0 0);
  --chart-5: oklch(0.6401 0 0);
  --radius: 0.5rem;
  --sidebar: oklch(0.8234 0 0);
  --sidebar-foreground: oklch(0.3867 0 0);
  --sidebar-primary: oklch(0.4819 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7668 0 0);
  --sidebar-accent-foreground: oklch(0.3867 0 0);
  --sidebar-border: oklch(0.8015 0 0);
  --sidebar-ring: oklch(0.4819 0 0);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --shadow-color: #3d3d3d;
  --shadow-opacity: 0.18;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 3px 0px 0px hsl(0 0% 23.9216% / 0.09);
  --shadow-xs: 0px 3px 0px 0px hsl(0 0% 23.9216% / 0.09);
  --shadow-sm:
    0px 3px 0px 0px hsl(0 0% 23.9216% / 0.18),
    0px 1px 2px -1px hsl(0 0% 23.9216% / 0.18);
  --shadow:
    0px 3px 0px 0px hsl(0 0% 23.9216% / 0.18),
    0px 1px 2px -1px hsl(0 0% 23.9216% / 0.18);
  --shadow-md:
    0px 3px 0px 0px hsl(0 0% 23.9216% / 0.18),
    0px 2px 4px -1px hsl(0 0% 23.9216% / 0.18);
  --shadow-lg:
    0px 3px 0px 0px hsl(0 0% 23.9216% / 0.18),
    0px 4px 6px -1px hsl(0 0% 23.9216% / 0.18);
  --shadow-xl:
    0px 3px 0px 0px hsl(0 0% 23.9216% / 0.18),
    0px 8px 10px -1px hsl(0 0% 23.9216% / 0.18);
  --shadow-2xl: 0px 3px 0px 0px hsl(0 0% 23.9216% / 0.45);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1913 0 0);
  --foreground: oklch(0.7508 0 0);
  --card: oklch(0.2308 0 0);
  --card-foreground: oklch(0.8607 0 0);
  --popover: oklch(0.2308 0 0);
  --popover-foreground: oklch(0.7508 0 0);
  --primary: oklch(0.6567 0 0);
  --primary-foreground: oklch(0.2178 0 0);
  --secondary: oklch(0.2931 0 0);
  --secondary-foreground: oklch(0.7508 0 0);
  --muted: oklch(0.2603 0 0);
  --muted-foreground: oklch(0.6234 0 0);
  --accent: oklch(0.3171 0 0);
  --accent-foreground: oklch(0.7508 0 0);
  --destructive: oklch(0.5658 0 0);
  --border: oklch(0.3132 0 0);
  --input: oklch(0.2931 0 0);
  --ring: oklch(0.6567 0 0);
  --chart-1: oklch(0.6567 0 0);
  --chart-2: oklch(0.5931 0 0);
  --chart-3: oklch(0.6434 0 0);
  --chart-4: oklch(0.6234 0 0);
  --chart-5: oklch(0.6268 0 0);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(0.7508 0 0);
  --sidebar-primary: oklch(0.6567 0 0);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.3171 0 0);
  --sidebar-accent-foreground: oklch(0.7508 0 0);
  --sidebar-border: oklch(0.3132 0 0);
  --sidebar-ring: oklch(0.6567 0 0);
  --destructive-foreground: oklch(0.9821 0 0);
  --radius: 0.5rem;
  --font-sans: Outfit, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Adamina, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --shadow-color: #666666;
  --shadow-opacity: 0.18;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 3px 0px 0px hsl(0 0% 40% / 0.09);
  --shadow-xs: 0px 3px 0px 0px hsl(0 0% 40% / 0.09);
  --shadow-sm:
    0px 3px 0px 0px hsl(0 0% 40% / 0.18), 0px 1px 2px -1px hsl(0 0% 40% / 0.18);
  --shadow:
    0px 3px 0px 0px hsl(0 0% 40% / 0.18), 0px 1px 2px -1px hsl(0 0% 40% / 0.18);
  --shadow-md:
    0px 3px 0px 0px hsl(0 0% 40% / 0.18), 0px 2px 4px -1px hsl(0 0% 40% / 0.18);
  --shadow-lg:
    0px 3px 0px 0px hsl(0 0% 40% / 0.18), 0px 4px 6px -1px hsl(0 0% 40% / 0.18);
  --shadow-xl:
    0px 3px 0px 0px hsl(0 0% 40% / 0.18), 0px 8px 10px -1px hsl(0 0% 40% / 0.18);
  --shadow-2xl: 0px 3px 0px 0px hsl(0 0% 40% / 0.45);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
