---
import Section from './Section.astro'
import ExperienceItem from './ExperienceItem.astro'
import {BriefcaseBusiness} from 'lucide-astro'



let experiences = [
    {
        time: '2021 - 2023',
        title: 'Developer & Event Coordinator',
        companyUrl: 'https://www.instagram.com/volkgames',
        companyName: 'VolkGames (Caracol TV)',
        description: 'Coordinated and managed gaming events with national and international participation. Successfully set up a cloud server for a game event with over 300 participants. In addition, I contributed to the development of Discord bots for efficient event logistics.'
    },
]
---

<Section id="experience" className="animate-pulse-fade-in animate-delay-200 animate-duration-500">
    
    <h2 class="text-2xl font-semibold flex gap-3 items-center text-neutral-200">
        <BriefcaseBusiness />
        Experience
    </h2>


    <ol class="relative space-y-1 border-s-2 border-neutral-800">
        {experiences.map(experience => <ExperienceItem experience={experience} />)}
    </ol>

</Section>