---
import Section from './Section.astro'
import ExperienceItem from './ExperienceItem.astro'
import {BriefcaseBusiness} from 'lucide-astro'



let experiences = [
    {
        time: '2021 - 2023',
        title: 'Event Coordinator',
        companyUrl: 'https://www.instagram.com/volkgames',
        companyName: 'VolkGames (Caracol TV)',
        description: 'Coordinate gaming events for the company, including the creation of games with national and international participation. Successfully create a cloud server for a video game for an event with +300 participants.'
    },
]
---

<Section id="experience">
    
    <h2 class="text-2xl font-semibold flex gap-3 items-center text-neutral-200">
        <BriefcaseBusiness />
        Experience
    </h2>


    <ol class="relative space-y-1 border-s-2 border-neutral-800">
        {experiences.map(experience => <ExperienceItem experience={experience} />)}
    </ol>

</Section>