---
import Section from './Section.astro'
import SocialLinks from './SocialLinks.astro'

import {Sprout} from 'lucide-astro'

---

<Section id="footer" className="animate-pulse-fade-in animate-delay-500 animate-duration-600">
    <div class="flex justify-between">
        <div class="flex items-center gap-1 text-sm">
            <Sprout size={18} />
            <h2>Felipe Giraldo</h2> 
            <span class="text-gray-500">-</span> 
            <p>2024</p>
        </div>

        <SocialLinks />
    </div>
</Section>